# Tailscale IPs:
# M1 (Jane - this laptop):  100.x.x.1
# M2 (Mika):                100.x.x.2
# M3 (Ryan):                100.x.x.3
VITE_POS_URL=http://100.x.x.2:8002
VITE_DASHBOARD_URL=http://100.x.x.3:8003
